BODY {
	SCROLLBAR-FACE-COLOR: #d3edc4; BACKGROUND: url(imge/aki-5.gif); SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; CURSOR: url('http://dahyx.bokee.com/inc/1117546699.cur'); SCROLLBAR-ARROW-COLOR: #6eb30a; SCROLLBAR-TRACK-COLOR: #e9f9dd; scrollbar-3darkshadow-color: #6C6C6C
}
A:hover {
	BACKGROUND: url(imge/dong.gif); COLOR: #9dacbf
}
A:hover {
	CURSOR: url('http://imgcache.qq.com/qzone/item/orig/6/2822.ani')
}
